In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [3]:
example_df = pd.DataFrame({
    "Actual": np.random.randint(0, 10, size=10),
    "Predicted": np.random.randint(0, 10, size=10)
})

In [4]:
example_df

   Actual  Predicted
0       9          1
1       5          0
2       7          0
3       9          1
4       4          6
5       5          9
6       7          9
7       8          5
8       9          6
9       0          6

In [5]:
example_df.loc[:, "Error"] = example_df.apply(lambda x: x["Actual"] - x["Predicted"], axis=1)

In [7]:
example_df

   Actual  Predicted  Error
0       9          1      8
1       5          0      5
2       7          0      7
3       9          1      8
4       4          6     -2
5       5          9     -4
6       7          9     -2
7       8          5      3
8       9          6      3
9       0          6     -6

In [8]:
example_df.loc[:, "Abs Error"] = example_df.apply(lambda x: np.abs(x["Error"]), axis=1)

In [9]:
example_df

   Actual  Predicted  Error  Abs Error
0       9          1      8          8
1       5          0      5          5
2       7          0      7          7
3       9          1      8          8
4       4          6     -2          2
5       5          9     -4          4
6       7          9     -2          2
7       8          5      3          3
8       9          6      3          3
9       0          6     -6          6

In [10]:
example_df.loc[:, "Squared Error"] = example_df.apply(lambda x: np.power(x["Error"], 2), axis=1)

In [11]:
example_df

   Actual  Predicted  Error  Abs Error  Squared Error
0       9          1      8          8             64
1       5          0      5          5             25
2       7          0      7          7             49
3       9          1      8          8             64
4       4          6     -2          2              4
5       5          9     -4          4             16
6       7          9     -2          2              4
7       8          5      3          3              9
8       9          6      3          3              9
9       0          6     -6          6             36

In [12]:
# MAE
example_df["Abs Error"].sum() / example_df.shape[0]

4.8

In [13]:
# MSE
example_df["Squared Error"].sum() / example_df.shape[0]

28.0

In [14]:
mean_absolute_error(example_df["Actual"].values, example_df["Predicted"].values)

4.8

In [15]:
# MSE
mean_squared_error(example_df["Actual"].values, example_df["Predicted"].values)

28.0

In [16]:
# RMSE
np.sqrt(10.3)

3.2093613071762426